body{
    background :rgb(255, 253, 253) ;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:black ;
    background-image:url(images/lx.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding:90px 90px 0 90px;
    height: 300px;
    margin-bottom: 0;
    text-align: center;
    top: -10px;
    
}
header a{
    color: white;
    margin-top: 25px;
}
header .mobile{
    display:none;
}
header .logo a{
    background-image:url(images/4.png);
    background-size: 200px;

    display: inline-block;
    height: 100px;
    position: relative;
    text-indent: -99999px;
    top: -30px;
    width:200px;
}
.feature_box figure{
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.feature_box figure img{
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: black 0 0 10px;
    display: flex;
    flex-direction: row;

}
.feature_box figure figcaption{
    margin-top: 20px;
    margin-bottom: 10px;
}

.feature_box{
    color:rgb(0, 0, 0);
    display:flex;
    margin-top: -10px;
    flex-wrap:wrap ;
}
.feature_box div{
    width: 100%;
    margin:2px;
}



nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav li{
    display:inline-block;
    margin-right:50px;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}




/*li:first-child{
    margin-left: 10px;
    
    }
*/

/*
响应式设计
1.处理内容
2.图片
*/
/*pc端*/
@media screen and (max-width:878px) {
    header{
        height: 200px;
    }
    
    header .mobile{
        display: inline-block;
    }
    header .desktop{
        display: none;
    }
}

/*移动端*/
/*@media screen and (min-width:500px) {
    .feature_box{
        background: rgb(160, 103, 103);
    }
}
@media screen and (min-width:700px) {
    .feature_box{
        background: rgb(112, 137, 220);
    }
}
    */
footer{
    background:black ;
    color: gray;
    text-align: center;
    font-size: 13px;
    padding:20px 20px;
}

section.feature_box.sales div {
    background: rgb(236, 159, 159);
}
section.feature_box.closeouts div {
    background: rgb(171, 239, 254);
}